@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Smooch Sans;
}


.building{
    margin: auto;
    height: 100vh;
    width: 800px;
    background-color: black;;
}

.floors{
    color: white;
    border: 1px solid red;
    height: 25%;
}